.footer{
  padding: 40px 0;
  text-align: center;
  &__container{
    @media (min-width: 768px){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo{
    display: block;
    width: 145px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
    background: url('../img/footer/logo-footer.svg') center/cover no-repeat;
    transition: background-image .3s ease-in-out;
    &:hover{
      background: url('../img/footer/logo-footer-mobile-hover.svg') center/cover no-repeat;
    }
    @media (min-width: 768px){
      margin: 0;
    }
    @media (min-width: 992px){
      width: 147px;
      background: url('../img/footer/logo-footer-desktop.svg') center/cover no-repeat;
      &:hover{
        background: url('../img/footer/logo-footer-desktop-hover.svg') center/cover no-repeat;
      }
    }
  }
  &__social{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @media (min-width: 768px){
      margin: 0;
    }
  }
  &__copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
}

.copyright__img{
  fill: $color-pink;
}

.copyright{
  text-decoration: none;
  color: $ebony-color;
  transition: fill .1s ease-in-out;
  &:hover &__img{
    fill: $ebony-color;
    transition: fill .1s ease-in-out;
  }
  &:active &__img{
    opacity: .3;
  }
}



.copyright__text{
  font-size: 14px;
  margin-right: 15px;
}