.form-contest{
  padding: 40px 0 10px;
}

.form__section-block{
  padding: 0;
  border: none;
}

.slogan-form__line{
  display: none;
}

.label-field,
.title-form{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $color-pink;
  display: block;
  text-transform: uppercase;
}

.label-field{
  padding-left: 20px;
}

.field{
  font-size: 18px;
  line-height: 30px;
  padding: 8px 20px;
  border: 2px solid $color-grey-second;
  border-radius: 1px;
  width: 100%;
}

.message{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  min-height: 197px;
  border: 2px solid $color-grey-second;
  border-radius: 1px;
  padding: 22px 20px;
  resize: none;
}

.field::placeholder,
.message::placeholder{
  color: $ebony-color;
}

.form__achievements,
.form__application{
  background-color: $color-grey;
  padding: 40px 0;
}

.form__user,
.form__contacts{
  padding: 42px 0 44px;
}


.label-checkbox,
.label-radio{
  display: flex;
  align-items: center;
}

.label-checkbox::before,
.label-radio::before{
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background-color: $color-white;
  border: 2px solid $color-grey-second;
  border-radius: 1px;
  margin-right: 22px;
}

.check:checked + .label-checkbox::before{
  background-image: url('../img/icons/checkbox.svg');
  background-position: center;
  background-repeat: no-repeat;
}




.label-radio::before{
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  background-color: $color-white;
  border-radius: 50%;
  border: 11px solid $color-white;
  box-shadow: 0px 0px 0px 2px $color-grey-second;
}

.radio:checked + .label-radio::before{
  background-color: $color-pink;
}

.button-form{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  background: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
  color: $color-white;
  text-transform: uppercase;
}


.form__title{
  text-align: center;
  margin-bottom: 30px;
}

.form__describe{
  padding: 30px 0 40px;
}

.form__describe .form__title{
  margin-bottom: 10px;  
}

.form__title-contacts{
  display: none;
}
.form{
  &__slogan{
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
  &__block-field{
    margin-bottom: 15px;
  }
  &__block-checkbox{
    margin-bottom: 43px;
  }
  &__block-checkbox:last-child{
    margin-bottom: 0;
  }
  &__block-radio{
    margin-bottom: 38px;
  }
  &__block-radio:last-child{
    margin-bottom: 0;
  }

  &__button{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
  }
  &__warning{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
  &__warning::before{
    content: '*';
    color: $color-pink;
  }
}

@media (min-width: 768px){
  .slogan-form__line{
    display: block;
  }
  form{
    display: flex;
    flex-direction: column;
  }

  .form__slogan{
    font-size: 18px;
    max-width: 490px;
    margin: 0 auto;
  }
  .form__achievements, .form__application {
    background-color: transparent;
  }
  .form__section-block{
    border: 2px solid $color-grey-second;
    border-radius: 1px;
    padding: 30px 60px 54px;
  }

  .form__title{
    padding: 0 25px;
  }

  .form__title-contacts{
    display: block;
  }
  .section-form:nth-child(1){
    order: 1;
  }
  .section-form:nth-child(2){
    order: 4;
  }
  .section-form:nth-child(3){
    order: 3;
  }
  .section-form:nth-child(4){
    order: 2;
  }
  .section-form:nth-child(5){
    order: 5;
  }
  .section-form:nth-child(6){
    order: 6;
  }
}