.form-contest{
  padding: 54px 0 46px;
  @media (min-width: 768px){
    padding: 100px 0 50px;
  }
  &__slogan{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    br{
      display: none;
      @media (min-width: 768px){
        display: block;
      }
    }
    @media (min-width: 768px){
      font-size: 18px;
      max-width: 490px;
      margin: 0 auto;
      margin-bottom: 65px;
    }
  }
  &__appeal{
    display: none;
    @media (min-width: 768px){
      display: block;
    }
  }
}